body {
  font-family: "Poppins", sans-serif;
  background-color: #faf9f8;
  color: #333;
  text-align: center;
  margin: 20px;
}

h1 {
  color: #e569af;
}

fieldset {
  border: 2px solid #d08db3;
  border-radius: 12px;
  margin: 15px auto;
  padding: 15px;
  width: 60%;
}

legend {
  color: #d08db3;
  font-weight: bold;
}

input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
}

button {
  background-color: #da57a1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #e760ae;
}

.brand-logo {
  width: 150px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  margin: 30px auto;
  flex-wrap: wrap;
}

.gallery figure {
  width: 250px;
}

.gallery-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.05);
}

figcaption {
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
}

video {
  border-radius: 10px;
  box-shadow: 0 0 15px #ccc;
  margin-top: 20px;
}

#preview-rating {
  margin: 10px auto 30px;
  font-size: 1.1em;
  color: #444;
}
